.hero {
    background-color: var(--secondary-background-color);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-mobile.jpg);
}

.hero__title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    width: 360px;
    margin: 0 auto;
    color: var(--primary-text-color-theme-dark);

}

.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    min-width: 200px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 24px;
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width:767px) {
    .hero {
        max-width: 768px;
        height: 400px;
    }

    @media screen and (min-device-pixel-ratio:2) and (max-width:767px),
    screen and (min-resolution:192dpi) and (max-width:767px),
    screen and (min-resolution:2dppx)and (max-width:767px) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/background-mobile@2x.jpg);
        }
    }
}




@media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-1-tablet.jpg);
        max-width: 1200px;
    }

    @media screen and (min-device-pixel-ratio:2) and (min-width:768px),
    screen and (min-resolution:192dpi) and (min-width:768px),
    screen and (min-resolution:2dppx)and (min-width:768px) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/background-1-tablet@2x.jpg);
        }
    }
}

@media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-1-desktop@2x.jpg);
        max-width: 1600px;

        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media screen and (min-device-pixel-ratio:2) and (min-width:1200px),
    screen and (min-resolution:192dpi) and (min-width:1200px),
    screen and (min-resolution:2dppx)and (min-width:1200px) {

        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/background-1-desktop@2x.jpg);
        }

        .hero__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            width: 696px;
        }

        .hero__button {
            padding: 10px 32px;
        }
    }
}