:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --first-logo-text-color: #000000;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --accent-color: #2196F3;
    --team-buttons-background-color: #F5F4FA;
    --border-color-line: #ECECEC;
    --border-color-line-card: #EEEEEE;
    --primary-color-icons: #AFB1B8;
    --secondary-color-icons: #FFFFFF;
    --color-nav-icon: #757575;
    --color-icon-modal: #212121;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}